<!DOCTYPE html>
<html lang="en">

<head>
    <title>Greek Community School</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<!-- home.html
service.html
student.html
resource.html
about.html -->
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">GCS</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">NEWS</a></li>
                    <li><a href="#">STUDENTS</a></li>
                    <li><a href="#">RESOURCES</a></li>
                    <li><a href="#">ABOUT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div>
        <div class="content">
            <h1>GREEK COMMUNITY SCHOOL<br><span>GCS</span> <br>WEBSITE</h1>
            <p class="par">The Greek educational system is divided into three levels, namely primary, secondary and
                tertiary, with an additional post-secondary level providing vocational training. Education in
                Greece, including pre-school,primary and lower secondary education, is compulsory for all children
                6 to 15 years old. </p>

            <button class="cn"><a href="mailto:bekitena34@gmail.com">CONTACT US</a></button>

            <div class="form">
                <h2>Login Here</h2>
                <input type="email" name="email" placeholder="Enter Email Here">
                <input type="password" name="" placeholder="Enter Password Here">
                <button class="btnn"><a href="#">Login</a></button>

                <p class="link">Don't have an account<br>
                    <a href="#">Sign up </a> here</a>
                </p>
                <p class="liw">Log in with</p>

                <div class="icons">
                    <a href="https://www.facebook.com"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="https://www.instagram.com"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="https://twitter.com"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="https://www.google.com"><ion-icon name="logo-google"></ion-icon></a>
                    <a href="https://www.skype.com"><ion-icon name="logo-skype"></ion-icon></a>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
    <footer>
       copy right &copy; Beki 2024
    </footer>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>